.app {
  text-align: center;
}

.inputs {
  margin: 30px auto;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 300px;
}

.inputs > * {
  width: 100%;
}

.phone {
  flex: 1;
}

.whatsapp,
.whatsapp:link,
.whatsapp:visited {
  background-color: var(--teal-dark) !important;
  color: white;
}

.whatsapp:active,
.whatsapp:hover,
.whatsapp *:hover {
  background-color: var(--teal) !important;
}

.footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
